body {
  margin: 0;
  padding: 0;

  background: url(https://res.cloudinary.com/drcrre4xg/image/upload/v1571101012/bg_v0tw74.png) no-repeat;
  background-size: cover;

  font-family: "montserrat",sans-serif;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
}
.middle h1 {
  -webkit-background-clip:text;

  color: #2c3e5036;
  background-image: url(https://res.cloudinary.com/drcrre4xg/image/upload/v1571101002/water_zvupjx.png);

  font-size: 100px;
  text-transform: uppercase;
  font-weight: 900;

  animation: water 15s infinite;
}